{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>Главная страница</h1>
  <h5>Список файлов:</h5>
  {% if gen %}
    <form method="post">
      {% csrf_token %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Статус</th>
            <th>Скачать</th>
          </tr>
        </thead>
        <tbody>
          {% for user in context %}
            <tr>
              <td>{{ users.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ users.created_at }}</td>
              <td>{{ user.status }}</td>
              {% if form.context == "Готово" %}
                <td><a href="{{ file.file.url }}" class="btn btn-primary">Скачать</a></td>
              {% else %}
                <td>-</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% else %}
    <p>Нет файлов</p>
  {% endif %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
